@import '../variables';
.avatar {
  border-radius: 5px;
  background: white;
  cursor: pointer;
}

.avatar-thumbnail {
  height: 50px;
  width: 50px;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid rgba(0,0,0,.1);
}

.avatar-half-thumbnail {
  @extend .avatar-thumbnail;
  height: 15px;
  width: 15px;
  border-radius: 2px;
}