div(ng-switch="state")
  ul.group-list(ng-switch-when="choose-group")
    li.group-item.box(ng-repeat="group in groups")
      .box-head
        h3.group-name {{group.name}}
        .box-control
          button.btn.btn-secondary.btn-sm(ng-click="joinGroup(group)") 进入
      .box-body
        .group-desc {{group.desc}}
  post(ng-switch-when="in-group")