@import '../variables';

.group-name {
  @include title-font;
}

group {
  .group-list {
    padding: 0;
    margin: 0;
    .group-item {
      margin: 0 10px 10px 0;
      float: left;
      width: 240px;
      height: 163px;
      background-color: white;
      background-size: cover;
      cursor: pointer;
      .group-desc.has-bg {
        text-shadow: rgb(51, 51, 51) 1px 1px 1px;
        color: white;
      }
      .group-desc {
        padding: 20px 30px;
      }
      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }
  }
}

.group-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate3d(0,0,0);
  transition: 1s opacity ease .5s;
  opacity: 0;
  &.in-group {
    opacity: 1;
  }
}