/* http://ghost.org/dashboard */

$light-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
$light-border: 1px solid rgba(0,0,0,.2);
$font-stack: Helvetica, sans-serif;

@mixin light-box() {
  box-shadow: $light-box-shadow;
  border: $light-border;
}

@mixin primary-font() {
	color: #242628;
	font-size: 14px;
	font-family: 'Helvetica Neue',Helvetica,Arial,'Microsoft Yahei',Sans-serif;
}

@mixin secondary-font() {
	color: rgb(164, 160, 167);
	font-size: 10px;
	font-family: 'Helvetica Neue',Helvetica,Arial,'Microsoft Yahei',Sans-serif;
}


body {
	@include primary-font;
  background: #edece4;
}

.avatar {
  border-radius: 5px;
  @include light-box;
  background: white;
}

img.avatar-thumbnail {
  height: 40px;
  width: 40px;
  border-radius: 3px;
  box-shadow: none;
}

ul.microposts {
	list-style-type: none;
	padding: 0;
	li {
		padding: 10px;
		img.avatar {
			float: left;
		}
		.micropost-main {
			margin-left: 50px;
		}
		.date {
			@include secondary-font;
			float: right;
		}
	}
}


.container {
	padding-top: 20px;
}

.btn {
  transition: .1s ease all;
  font-weight: 200;
  min-width: 80px;
  text-transform: uppercase;
}

input[type="text"], input[type="password"] {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  outline: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input[type="text"]:focus, input[type="password"]:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.bounce-box {
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 3px;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,.15);
  background: white;
	animation: pulse .2s forwards ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1) translateY(1px);
    opacity: 1;
  }

  50% {
    transform: scale(.99) translateY(2px);
    opacity: .8;
  }

  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
