mixin input-foot(type)
  .pull-right
    button.btn.btn-primary.submit-input(type="button", ng-click="submitPost('#{type}')") 提交
    input.h-submit-input(type="hidden")
    | 
    a.close-input(href="javascript:;", ng-click="closeInput()") 返回


.box
  .box-head
    .box-control
      button.btn.btn-default(ng-click="quit()") 退出
    h3 {{group.name}}


  .mask(ng-if="coverOther")
  .box-body
    .post-bubble.top-input(ng-class="{editing: coverOther}", ng-if="self.logging")
      .post-bubble-content
        avatar.avatar-thumbnail(hash="{{self.info.emailHash}}")
        input-body.post-main
          .input-body-nav
            .icon.icon-lightbulb(ng-click="openInput()", data-target="micro")
            .icon.icon-list(ng-click="openInput()", data-target="todo")
          .input-body-content(data-type="micro")
            .post-head
              .username {{self.info.username}}
            .post-content
              input.form-control(type="text", ng-model="data.micro", ng-enter="submitPost('micro')")    
            .post-foot.row
              .col-lg-8
                file-upload(model="data")
              .col-lg-4
                mixin input-foot("micro")
          .input-body-content(data-type="todo")
            .post-head
              .username {{self.info.username}}
            .post-content
              todo-list(model="data")
            .post-foot.clearfix
              mixin input-foot("todo")
                 
    ul.post-bubble(infinite-scroll="loadPage()", infinite-scroll-disabled="loading")
      li.post-bubble-content(ng-repeat="mp in posts | orderBy:'-date' ")
        avatar.avatar-thumbnail(hash="{{mp.author.emailHash}}")
        .post-main
          .post-head
            .close(ng-if="mp.author._id == self.info._id", ng-click="deletePost(mp)") &times;
            .date {{mp.date | ago}}
            .username {{mp.author.username}}
          .post-content(ng-switch="mp.type")
            .post-content-micro(ng-switch-when="micro") {{mp.content}}
            .post-content-todo(ng-switch-when="todo")
              todo-list(json="mp.content")
            .post-content-error(ng-switch-default) error
          .post-img(ng-if="mp.img")
            img(ng-src="/upload/{{mp.img}}")
          .post-foot.clearfix
            .pink-heart(ng-click="togglePraise(mp)", title="{{mp.hasPraised ? '取消赞':'赞'}}", ng-class="{'icon-heart': !mp.hasPraised, 'icon-heart-outline': mp.hasPraised}")
            | 
            ul.post-praise-list.clearfix
              li(ng-repeat="praisedUser in mp.praisedUserList") 
                avatar.avatar-half-thumbnail(hash="{{praisedUser.emailHash}}", title="{{praisedUser.username}}")
            span.praised-count(ng-if="mp.praisedCount > mp.praisedUserList.length") 等{{mp.praisedCount}}个人赞了
            span.praised-count(ng-if="mp.praisedCount && mp.praisedCount <= mp.praisedUserList.length") 赞了
    .post-remind(ng-if="!posts.length && !loading") 似乎是空的
  .box-foot
    .load-more(ng-if="!loading")
      .more(ng-if="hasMore", ng-click="loadPage()") 加载更多
      .no-more(ng-if="!hasMore") 到底了
    .loading(ng-if="loading")
      img(src="/images/cat.gif")
      span.loading-text 加载中...

