.box
  .box-head
    .box-control
      button.btn.btn-default(ng-click="quit()") 退出
    h3 {{group.name}}


  .mask.fade-in(ng-if="coverOther")
  .box-body
    .post-bubble.top-input(ng-class="{editing: coverOther}")
      .post-bubble-content
        avatar.avatar-thumbnail(hash="{{userState.info.emailHash}}")
        input-body.post-main
          .input-body-nav
            .icon-lightbulb.big-lightbulb(ng-click="openInput()")
          .input-body-content
            .row.buffer-bottom
              .col-lg-10
                input.form-control(type="text", ng-model="data.content", ng-enter="addPost()")
              .col-lg-2  
                button.btn.btn-default.submit-input(type="button", ng-click="addPost()") 提交
            .row
              .col-lg-10
                file-upload(model="data")
              .col-lg-2
                button.btn.btn-default.close-input(type="button", ng-click="closeInput()") 返回
              
                
          
    ul.post-bubble(infinite-scroll="loadPage()", infinite-scroll-disabled="loading")
      li.post-bubble-content(ng-repeat="mp in posts | orderBy:'-date' ")
        avatar.avatar-thumbnail(hash="{{mp.author.emailHash}}")
        .post-main
          .post-head
            .date {{mp.date | ago}}
              a(ng-click="deletePost(mp)", href="javascript:;") [x]
            div {{mp.author.username}}
          .post-content {{mp.content}}
          .post-img(ng-if="mp.img")
            img(ng-src="/upload/{{mp.img}}")
          .post-opt.clearfix
            .pink-heart(ng-click="togglePraise(mp)", title="{{mp.hasPraised ? '取消赞':'赞'}}", ng-class="{'icon-heart': !mp.hasPraised, 'icon-heart-outline': mp.hasPraised}")
            | 
            ul.post-praise-list.clearfix
              li(ng-repeat="praisedUser in mp.praisedUserList") 
                avatar.avatar-half-thumbnail(hash="{{praisedUser.emailHash}}", title="{{praisedUser.username}}")
    div(ng-if="loading") 加载中..


    