.box
  .box-head
    .box-control
      button.btn.btn-default(ng-click="quit()") 退出
    h3 {{group.name}}

  .box-body
    ul
      li
        a(href="javascript:;")
          avatar.avatar-thumbnail(hash="userState.info.emailHash")
        .post-main
          .row
            .form-group.col-lg-8
              input.form-control(type="text", ng-model="data.content", ng-enter="addPost()")
            |  
            button.btn.btn-default(type="button", ng-click="addPost()") 提交
          .row
            .col-lg-12
              file-upload(model="data")
    ul
      li(ng-repeat="mp in posts | orderBy:'-date' ")
        a(href="javascript:;", ng-click="open('/users/{{mp.author._id}}')")
          avatar.avatar-thumbnail(hash="mp.author.emailHash")
        .post-main
          .post-head
            .date {{mp.date | ago}}
              a(ng-click="deletePost(mp)", href="javascript:;") [x]
            div {{mp.author.username}}
          .post-content {{mp.content}}
          .post-img(ng-if="mp.img")
            img(ng-src="/upload/{{mp.img}}")
          .post-opt 
            a.post-praise(href="javascript:;") 赞
            | 
            ul.post-praise-list
              li name1
              li name2
              li name3
      
    