@import '../variables';

.close-roll-btn {
  position: absolute;
  top: -7px;
  right: -6px;
  font-size: 30px;
  z-index: 500;
  background: #505050;
  box-shadow: 0 0 2px rgba(0,0,0,.4);
  color: white;
  border: 2px solid white;
  cursor: pointer;
  backface-visibility: hidden;
}

post {
  display: block;
  
  &.flip-util {
    perspective: 1500px;
    .flip-container {
      transform-style: preserve-3d;
    }
    .post-box {
      backface-visibility: hidden;
      z-index: 400;
    }
  }

  .flip-container {
    position: relative;
    transition: 1s transform ease;
    &.turnover {
      transform: rotateY(-.5turn);
    }
  }
  .flip-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    transform: rotateY(-.5turn);
    z-index: 600;
  }
  

  .post-box {
    position: relative;
  }

  .top-input {
    position: relative;
    .input-body-nav {
      .icon {
        display: inline-block;
        margin-right: 2px;
        cursor: pointer;
        transition: .3s transform ease;
      }
      .icon:hover {
        transform: translateY(-8px);
      }
    }
    .icon-lightbulb {
      color: #E9A449;
      font-size: 50px;
    }
    .icon-list {
      position: relative;
      top: -3px;
      left: -3px;
      color: #F5CB43;
      font-size: 40px;
    }
    .icon-quill {
      position: relative;
      top: -3px;
      color: #FCE07C;
      font-size: 40px;
    }
    .post-main {
      width: 170px;
      transition: .8s height linear;
    }
    .post-foot {
      margin-top: 10px;
    }
    .input-body-content {
      display: none;
      padding: 10px 10px 8px;
    }

  }
  .top-input.editing {
    z-index: 1100;
  }

  .post-bubble {
    list-style-type: none;
    padding: 0;
    .post-bubble-content {
      margin: 20px 0;
      .avatar-thumbnail {
        float: left;
      }
      .post-main {
        position: relative;
        top: -3px;
        background: $bubble-color;
        box-shadow: $bubble-shadow;
        margin-left: 80px;
        border-radius: 3px;
        padding: 10px;
        transition: .8s height ease;
        .post-head {
          .date {
            @include secondary-font;
            float: right;
            margin-right: 5px;
          }
          .username {
            @include secondary-font;
          }
        }
        .post-content-wrapper {
          padding: 0 20px;
        }
        .post-content {
          margin: 20px 0;
          font-size: 16px;
          word-break: break-all;
        }
        .post-img {
          margin: 20px 0;
          & img{
            max-height: 300px;
            max-width: 800px;
          }
        }
        
        &:after {
          content: "";
          position: absolute;
          top: 16px;
          left: -12px;
          border: 6px solid transparent;
          border-right-color: $bubble-color;
        }

      }
      
      
      .pink-heart {
        margin-top: 1px;
        font-size: 20px;
        color: pink;
        cursor: pointer;
        float: left;
      }
      ul.post-praise-list {
        float: left;
        margin-left: 5px;
        margin-top: 4px;
        list-style-type: none;
        overflow: hidden;
        padding: 0;
        li {
          float: left;
          margin-right: 3px;
        }
        li:last-child {
          margin-right: 0;
        }
      }
      .praised-count {
        margin-left: 5px;
        @include secondary-font;
      }
    }
  }
  
  .post-remind {
    text-align: center;
    color: grey;
    font-size: 24px;
    font-family: '宋体';
  }

  .load-more {
    font-size: 14px;
    text-align: center;
    .more, .no-more {
      padding: 5px;
    }
    .more {
      cursor: pointer;
    }
    .no-more {
      color: #a0a0a0;
    }
  }
  .loading {
    text-align: center;
    .loading-text {
      margin-left: 5px;
      @include illustrate-font;
    }
  }
}