
<form class="form-inline">
  <div class="form-group">
    <input type="text" ng-model="content" class="form-control"/>
  </div> 
  <button type="button" ng-click="addMicropost(content)" class="btn btn-default">post</button>
</form>
<ul class="microposts">
  <li ng-repeat="mp in microposts"><a href="javascript:;" ng-click="open('/users/{{mp.author._id}}')">
      <avatar hash="mp.author.emailHash" class="avatar-thumbnail"></avatar></a>
    <div class="micropost-main">
      <div class="date">{{mp.date | date:'yyyy-MM-dd HH:mm:ss'}}</div>
      <div>{{mp.author.username}}</div>
      <div>{{mp.content}}<a ng-click="deleteMicropost($index)" href="javascript:;">[x]</a></div>
    </div>
  </li>
</ul>