
<div class="box">
  <div class="box-head">
    <div class="box-control">
      <button ng-click="quit()" class="btn btn-default">退出</button>
    </div>
    <h3>{{group.name}}</h3>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="form-group col-lg-8">
        <input type="text" ng-model="data.content" ng-enter="addMicropost(data.content)" class="form-control"/>
      </div> 
      <button type="button" ng-click="addMicropost(data.content)" class="btn btn-default">提交</button>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <file-upload></file-upload>
      </div>
    </div>
    <ul>
      <li ng-repeat="mp in microposts | orderBy:'-date' "><a href="javascript:;" ng-click="open('/users/{{mp.author._id}}')">
          <avatar hash="mp.author.emailHash" class="avatar-thumbnail"></avatar></a>
        <div class="micropost-main">
          <div class="micropost-head">
            <div class="date">{{mp.date | ago}}<a ng-click="deleteMicropost(mp)" href="javascript:;">[x]</a></div>
            <div>{{mp.author.username}}</div>
          </div>
          <div class="micropost-content">{{mp.content}}</div>
          <div class="micropost-img"><img src="/images/bg.jpg"/></div>
        </div>
      </li>
    </ul>
  </div>
</div>