
<div ng-switch="state">
  <dialog name="user-setting" controller="changeUserInfo" global="true">
    <div class="box-head">
      <h3>修改资料</h3>
    </div>
    <div class="row box-body">
      <div class="col-lg-4">
        <avatar hash="{{emailHash}}"></avatar>
      </div>
      <div class="col-lg-8">
        <input type="email" ng-model="email"/>
      </div>
    </div>
    <div class="box-foot">
      <button ng-click="ok()" class="btn btn-primary">保存</button>
      <button ng-click="close()" class="btn">取消</button>
    </div>
  </dialog>
  <div ng-switch-when="out">
    <button type="button" ng-click="changeState('login')" class="btn btn-primary">登录</button> 
    <button type="button" ng-click="changeState('register')" class="btn btn-success">注册</button>
  </div>
  <div ng-switch-when="login" class="bounce-box">
    <div class="box-head">
      <h3>欢迎回来</h3>
    </div>
    <div class="box-body">
      <h4 ng-if="errorMessage" class="text-danger">{{errorMessage}}</h4>
      <div class="float-placeholder">
        <input type="text" ng-model="data.username" placeholder="用户名"/>
      </div>
      <div class="float-placeholder">
        <input type="password" ng-model="data.pw" placeholder="密码"/>
      </div>
    </div>
    <div class="box-foot">
      <button type="button" ng-click="login()" class="btn btn-primary">登录</button> <a href="javascript:;" ng-click="changeState('out')">取消</a>
    </div>
  </div>
  <div ng-switch-when="register" class="bounce-box">
    <div class="box-head">
      <h3>注册您的账号</h3>
    </div>
    <div class="box-body">
      <h4 ng-if="errorMessage" class="text-danger">{{errorMessage}}</h4>
      <div class="float-placeholder">
        <input type="text" ng-model="data.username" placeholder="用户名"/>
      </div>
      <div class="float-placeholder">
        <input type="password" ng-model="data.pw" placeholder="密码"/>
      </div>
      <div class="float-placeholder">
        <input type="password" ng-model="data.pwAgain" placeholder="密码确认"/>
      </div>
      <div class="float-placeholder">
        <input type="text" ng-model="data.email" placeholder="邮箱"/>
      </div>
    </div>
    <div class="box-foot">
      <button type="button" ng-click="register()" class="btn btn-success">注册</button> <a href="javascript:;" ng-click="changeState('out')">取消</a>
    </div>
  </div>
  <div ng-switch-when="in">
    <div ng-class="{outside: pop}" class="user-control">
      <div call-dialog="user-setting" title="修改资料" class="icon-item icon-cog"></div>
      <div ng-click="logout()" title="退出" class="icon-item icon-exit"></div>
    </div>
    <div ng-click="pop = !pop" class="avatar-container">
      <avatar hash="{{userState.info.emailHash}}"></avatar>
    </div>
  </div>
</div>