ul.todo-list-content
  li.todo.row(ng-repeat="todo in todoList")
    .col-lg-10
      input.underline(type="text", ng-if="edit", ng-model="todo.content")
      label.todo-content(ng-if="!edit", ng-click="todo.hasDone = !todo.hasDone", ng-class="{checked: todo.hasDone}")
        .todo-content-checkbox(ng-class="todo.hasDone? 'icon-checkbox-checked' : 'icon-checkbox-unchecked'")
        .todo-content-text {{todo.content}}
    .col-lg-2
      .icon-minus(ng-click="remove($index)", ng-if="edit && todoList.length > 1")
  li.row(ng-if="edit")
    .col-lg-10
      .add-todo.icon-plus(ng-click="addTodo()")