@import '../variables';
todo-list {
  display: block;
  input[type="text"].underline {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    height: 30px;
    line-height: 20px;
    padding: 0;
    font-size: 18px;
    text-indent: .5em;
  }
  .add-todo {
    cursor: pointer;
    background: #A5A4A4;
    color: white;
    padding: 10px;
    width: 40px;
    font-size: 20px;
    margin: 20px auto 0;
    border-radius: 5px;
  }
  .add-todo:hover {
    background: #202020;
  }
  ul {
    margin-bottom: 0;
    padding-left: 2rem;
    li {
      list-style: none;
    }
  }
  .todo {
    font-size: 18px;
    margin-bottom: 5px;
    .todo-content {
      padding: 5px 0;
      cursor: pointer;
      font-weight: normal;

      .todo-content-checkbox {
        float: left;
        font-size: 18px;
        position: relative;
        top: 4px;
      }
      .todo-content-text {
        margin-left: 25px;
      }

    }

    .todo-content.checked {
      color: #A5A4A4;
      text-decoration: line-through;
    }

    .icon-minus {
      cursor: pointer;
      font-size: 24px;
      display: inline-block;
      margin-top: 5px;
      color: #A5A4A4;
    }
    .icon-minus:hover {
      color: #202020;
    }
  }
  .todo-list-content {

  }
}