button.btn.btn-secondary(type="button", ng-click="callUpload()", ng-show="fileUploaded") 图片
button.btn.btn-secondary(type="button", ng-click="callUpload()", ng-show="fileUploaded") 上传
.showcase(ng-show="fileUploaded")
  img

input(type="file", accept="image/*")