!!!
html(ng-app="platform")
  head
    title platform
    meta(charset="utf-8")
    link(rel="stylesheet", href="vendor/bootstrap.css")
    link(rel="stylesheet", href="/vendor/ngprogress.css")
    link(rel="stylesheet", href="/style.css")
    script(src="http://cdn.staticfile.org/prefixfree/1.0.7/prefixfree.min.js")
    script(src="/vendor/md5.js")
    script(src="/vendor/angular.js")
    script(src="/vendor/angular-resource.js")
    script(src="/platform_app.js")

    script(src="/vendor/ngprogress.js")
  body
    error-panel
    .container.row
      .col-lg-8
        group
        microposts
      .col-lg-4
        userport
        port-list

      

