@import 'post/post';
@import 'floatPlaceholder/floatPlaceholder';
@import 'dialog/dialog';
@import 'errorPanel/errorPanel';
@import 'group/group';
@import 'fileUpload/fileUpload';
@import 'userport/userport';
@import 'avatar/avatar';
@import 'admin/admin';
@import 'todoList/todoList';
@import 'observer/observer';
@import 'loadingBall/loadingBall';
@import 'blog/blog';
@import 'dockMenu/dockMenu';
@import 'sideFooter/sideFooter';
@import 'variables';
// simplify @import('foo/foo') ?

body {
	@include primary-font;
  background: #395976;
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: scroll;
  padding-bottom: 40px;
}

h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  } 
  &:after {
    clear: both;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.container {
	width: 1000px;
  background: #2C4762;
  background: linear-gradient(to bottom, #2c4762 0,#395976 800px);
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
  min-height: 800px;
}

.main {
  float: left;
  width: 740px;
}

.side {
  float: left;
  width: 210px;
  margin-left: 10px;
}

.buffer-bottom, .buffer-bottom1 {
  margin-bottom: 10px;
}

.buffer-bottom2 {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  font-weight: 200;
  font-size: 100%;
  padding: .5em 1.5em;
  color: rgba(0,0,0,.8);
  border: 0 rgba(0,0,0,0);
  border-radius: 2px;
  background-color: #E6E6E6;
  zoom: 1;
  line-height: normal;
  transition: .1s linear box-shadow;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
}

.btn:active {
  box-shadow: none;
}

.btn:active, .btn:focus {
  outline: none;
}

.btn-sm {
  font-size: 12px;
}

.btn-primary {
  background-color: #2588C9;
  color: #fff;
  &:hover, &:active {
    color: #fff;
  }
}

.btn-secondary {
  background-color: #529ECC;
  color: #fff;
  &:hover, &:active {
    color: #fff;
  }
}

.btn-success {
  background: rgb(28, 184, 65);
  color: #fff;
  &:hover, &:active {
    color: #fff;
  }
}

.btn-error {
  background: rgb(202, 60, 60);
  color: #fff;
  &:hover, &:active {
    color: #fff;
  }
}

.btn-warning {
  background: rgb(223, 117, 20);
  color: #fff;
  &:hover, &:active {
    color: #fff;
  }
}

input[type="text"], input[type="password"], input[type="email"] {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  box-shadow: none;
  outline: none;
  transition: border-color ease-in-out 0.1s, box-shadow ease-in-out 0.1s;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: none;
}

input[type="text"].underline {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  height: 30px;
  line-height: 20px;
  padding: 0;
  font-size: 18px;
  text-indent: .5em;
  background-color: transparent;
  letter-spacing: 1px;
}

.has-error {
  border-color: #b94a48;
}

.box, .bounce-box {
  border-radius: 4px;
  overflow: hidden;
  box-shadow:  $box-shadow;
  input[type="text"], input[type="password"] {
    height: 40px;
  }
  .btn-default {
    border: 1px solid rgba(0,0,0,.2);
  }
  .box-head {
    background: $box-bg-color;
    overflow: hidden;
    padding: 10px;
    .box-control {
      float: right;
      padding: 10px;
    }
  }
  .box-body {
    background: $box-body-bg-color;
    overflow: hidden;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  }
  .box-foot {
    background: $box-bg-color;
    padding: 10px;
  }
}

.bounce-box {
	animation: pulse .15s forwards ease-in-out .05s;
  transform: translate3d(0,0,0);
}

a.cancel {
  margin: 0 20px;
}

@keyframes pulse {
  0% {
    transform: scale(1) translateY(1px);
  }

  50% {
    transform: scale(.99) translateY(2px);
  }

  100% {
    transform: scale(1) translateY(0);
  }
}

.mask{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1040;
  overflow: auto;
  background: rgba(0,0,0,.7);
  animation: fade-in 1s forwards ease;
  transform: translate3d(0,0,0);
}

@keyframes fade-in {
  0% {
    background: rgba(0,0,0, 0);
  }

  100% {
    background: rgba(0,0,0,.7);
  }
}

::-webkit-scrollbar-track-piece {
  background-color: #ddd;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #B4B9C5;
  min-height:28px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #9499a5;
}


.loading-global {
  display: inline-block;
  width: 40px;
  height: 32px;
  background-image: url(images/cat.gif);
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}

.loading-global.image-loading {
  width: 128px;
  height: 103px;
  background-image: url(images/bigcat.gif);
}

.icon-exit {
  margin-left: 2px;
  margin-top: 1px;
}