!!!
html(ng-app="platform")
  head
    title platform
    meta(charset="utf-8")
    link(rel="stylesheet", href="/vendor/bootstrap.css")
    link(rel="stylesheet", href="/vendor/ngprogress.css")
    link(rel="stylesheet", href="/style.css")
    link(rel="stylesheet", href="/font.css")
    script(src="http://cdn.staticfile.org/prefixfree/1.0.7/prefixfree.min.js")
    script(src="/vendor/md5.js")
    script(src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js")
    script(src="/vendor/angular.js")
    script(src="/vendor/angular-animate.js")
    script(src="/vendor/angular-resource.js")
    script(src="/vendor/ng-infinite-scroll.min.js")
    script(src="/platform_app.js")
    script(src="/vendor/ngprogress.js")
  body
    error-panel
    .container.row
      .col-sm-3.col-sm-push-9
        userport
        port-list
        admin(ng-if="self.info.admin")
      .col-sm-9.col-sm-pull-3
        group
      



      

