!!!
html(ng-app="platform")
  head
    title Gankr
    meta(charset="utf-8")
    link(rel="stylesheet", href="/vendor/dist/bootstrap.css")
    link(rel="stylesheet", href="/style.css")
    link(rel="stylesheet", href="/font.css")

    script(src="/vendor/dist/prefixfree.js")
    script(src="/vendor/dist/md5.js")
    script(src="/vendor/dist/jquery.js")
    script(src="/vendor/dist/angular.js")
    script(src="/vendor/dist/angular-resource.js")
    script(src="/vendor/dist/angular-route.js")
    script(src="/vendor/dist/ng-infinite-scroll.min.js")
    script(src="/platform_app.js")

    link(rel="stylesheet", href="/vendor/dist/editor.css")
    script(src="/vendor/dist/editor.js")
    script(src="/vendor/dist/marked.js")
    link(rel="icon", type="image/png", href="/images/favicon.png")
  body
    .container
      .logo
        a(href="/")
          img(src="/images/logo.png")
      .main-wrapper
        .main(ng-view)
        .side
          userport
          admin(ng-if="self.info.admin")
      side-footer
    components
      group-dock-menu
      loading-ball
      observer
    


      

