form
  div
    label username:
    input(type="text", ng-model="username")
  div
    label password:
    input(type="text", ng-model="pw")
  div
    label password again:
    input(type="text", ng-model="pwAgain")
  div
    button(type="button", ng-click="register()") register
  a(href="/") login

ul
  li(ng-repeat="u in users") {{u.username}} | {{u.pw}}