div(ng-switch="state")
  h4(ng-if="errorMessage") {{errorMessage}}
  div(ng-switch-when="out")
    button.btn.btn-primary(type="button", ng-click="changeState('login')") 登录
    |  
    button.btn.btn-success(type="button", ng-click="changeState('register')") 注册
  div.bounce-box(ng-switch-when="login")
    div
      label username:
      input(type="text", ng-model="username")
    div
      label password:
      input(type="text", ng-model="pw")
    div
      button.btn.btn-primary(type="button", ng-click="login(username, pw)") login
      |  
      a(href="javascript:;", ng-click="changeState('out')") cancel
  div.bounce-box(ng-switch-when="register")
    div
      label username:
      input(type="text", ng-model="username")
    div
      label password:
      input(type="text", ng-model="pw")
    div
      label password again:
      input(type="text", ng-model="pwAgain")
    div
      label email:
      input(type="text", ng-model="email")
    div
      button.btn.btn-success(type="button", ng-click="register(username, pw, email)") register
      |  
      a(href="javascript:;", ng-click="changeState('out')") cancel
  div(ng-switch-when="in")
    img.avatar(src="http://www.gravatar.com/avatar/{{userState.info.emailHash}}.jpg?s=80")
    button(type="button", ng-click="logout()") out


  