@import '../variables';
side-footer {
  a {
    @include side-font;
    font-size: 13px;
  }
  a:hover {
    color: rgba(255,255,255,.6);
  }
  
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: 270px;
  z-index: 200;
  

  ul.sidebar-nav {
    list-style: none;
    float: left;
    width: 215px;
    margin: 20px 0;
    padding: 0;
  }
  li.sidebar-nav-item {
    float: left;
    text-align: center;
    margin: 0 5px 0 0;
  }
}