/* http://ghost.org/dashboard */
body {
  color: #242628;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', Sans-serif; }

.avatar {
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: white; }

img.avatar-thumbnail {
  height: 40px;
  width: 40px;
  border-radius: 3px;
  box-shadow: none; }

ul.microposts {
  list-style-type: none;
  padding: 0; }
  ul.microposts li {
    padding: 10px; }
    ul.microposts li img.avatar {
      float: left; }
    ul.microposts li .micropost-main {
      margin-left: 50px; }
    ul.microposts li .date {
      color: #a4a0a7;
      font-size: 10px;
      font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', Sans-serif;
      float: right; }

.container {
  padding-top: 20px; }

.btn {
  transition: 0.1s ease all;
  font-weight: 200;
  min-width: 80px;
  text-transform: uppercase; }

.buffer-top1 {
  margin-top: 10px; }

.buffer-top2 {
  margin-top: 20px; }

.bounce-box {
  border: 1px solid silver;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  animation: pulse 0.3s forwards ease-in-out; }

@keyframes pulse {
  0% {
    transform: scale(1) translateY(1px); }

  30% {
    transform: scale(0.99) translateY(2px); }

  100% {
    transform: scale(1) translateY(0); } }
