@import '../variables';

error-panel {
  position: fixed;
  z-index: 2000;
  .error-message {
    color: white;
    padding: 5px 20px;
    margin-bottom: 2px;
    background: rgba(230, 126, 34, .5);
    opacity: .7;
    animation: slide .5s forwards ease, fadeout .5s forwards ease 1.5s;
    float: left; 
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
