form.form-inline
  .form-group
    input.form-control(type="text", ng-model="micropostContent")
  |  
  button.btn.btn-default(type="button", ng-click="addMicropost(micropostContent)") post
ul.microposts
  li(ng-repeat="mp in microposts")
    a(href="javascript:;", ng-click="open('/users/{{mp.author._id}}')")
      img.avatar-thumbnail.avatar(src="http://www.gravatar.com/avatar/{{mp.author.emailHash}}.jpg?s=80")
    .micropost-main
      div.date {{mp.date | date:'yyyy-MM-dd HH:mm:ss'}}
      div {{mp.author.username}}
      div {{mp.content}}
        a(ng-click="deleteMicropost($index)", href="javascript:;") [x]
      
    