.form-inline
  .form-group
    input.form-control(type="text", ng-model="data.content")
  |  
  button.btn(type="button", ng-click="addMicropost(data.content)") 提交
ul
  li(ng-repeat="mp in microposts")
    a(href="javascript:;", ng-click="open('/users/{{mp.author._id}}')")
      avatar.avatar-thumbnail(hash="mp.author.emailHash")
    .micropost-main
      div.date {{mp.date | date:'yyyy-MM-dd HH:mm:ss'}}
      div {{mp.author.username}}
      div {{mp.content}}
        a(ng-click="deleteMicropost($index)", href="javascript:;") [x]
      
    