.box
  .box-head
    .box-control
      button.btn.btn-default(ng-click="quit()") 退出
    h3 {{group.name}}

  .box-body
    .row
      .form-group.col-lg-8
        input.form-control(type="text", ng-model="data.content", ng-enter="addMicropost(data.content)")
      |  
      button.btn.btn-default(type="button", ng-click="addMicropost(data.content)") 提交
    .row
      .col-lg-12
        file-upload
    ul
      li(ng-repeat="mp in microposts | orderBy:'-date' ")
        a(href="javascript:;", ng-click="open('/users/{{mp.author._id}}')")
          avatar.avatar-thumbnail(hash="mp.author.emailHash")
        .micropost-main
          .micropost-head
            .date {{mp.date | ago}}
              a(ng-click="deleteMicropost(mp)", href="javascript:;") [x]
            div {{mp.author.username}}
          .micropost-content {{mp.content}}
          .micropost-img
            img(src="/images/bg.jpg")

            
      
    