a(href="javascript:;", ng-click="emitFlip(true)", ng-if="!total").blog-title {{getTitle()}}

.box(ng-if="total")
  .box-head
    .blog-title {{getTitle()}}
  .box-body.blog-content
    
  .box-foot.clearfix
    button.btn.btn-default.pull-right(ng-click="emitFlip(false)") 返回
