@import '../variables';

blog-edit {
  .blog-edit-content {
    margin: 10px;
    padding: 0 1.5rem;
    min-height: 400px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    background: white;
    textarea {
      margin-top: 20px;
      outline: none;
      border: 0;
      min-height: 360px;
      width: 100%;
    }
  }


  .blog-edit-head {
    margin-left: 10px;
  }
  .blog-edit-foot {
    float: right;
  }
}

blog-viewer {
  .blog-title {
    @include title-font;
  }
  .box-body.blog-content {
    background: white;
    min-height: 360px;
    padding: 2rem;
  }
}