@import '../variables';

.float-placeholder {
  color: $hint-font-color;
  label {
    font-size: 14px;
    font-weight: 100;
    margin: 2px 0 0 0;
    animation: float .3s forwards ease;
    transition: .3s color ease;
  }
  &.blur {
    color: rgba(0,0,0,.5);
  }
  &.error {
    color: $danger-color;
    input, input:focus {
      border-color: $danger-color;
    }
  }
  margin-bottom: 5px;
}

@keyframes float {
  0% {
    transform: translateY(5px);
    opacity: .2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}