@import '../variables';

.float-placeholder {
  label {
    font-size: 12px;
    font-weight: 100;
    margin: 2px 0 0 0;
    color: $hint-font-color;
    animation: float .3s forwards ease;
    transition: .3s color ease;
  }
  label.blur {
    color: silver;
  }
}

@keyframes float {
  0% {
    transform: translateY(5px);
    opacity: .2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}