@import '../variables';
[observer=""] {
  cursor: pointer;
}

.image-observer {
  display: table;
  width: 100%;
  height: 100%;
  .image-observer-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .image-observer-content {
    position: relative;
    display: inline-block;
    border: 5px solid white;
    background: white;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
  }
  .image-observer-close {
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 29px;
    text-align: center;
    background: #505050;
    color: white;
    float: right;
    font-size: 24px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border: 2px solid white;
  }
  .image-observer-close:hover {
    background: #262626;
  }
  img {
    max-width: 800px;
    max-height: 800px;
  }
}