.mask(ng-if="opened")
  .image-observer(ng-class="{'bounce-box': loaded}")
    .image-observer-container
      .image-observer-content
        .image-observer-close.icon-cancel(ng-click="close()")
        .loading-global.image-loading(ng-if="!loaded")
        img(ng-src="{{src}}", ng-show="loaded")