.mask(ng-if="opened")
  .bounce-box.image-observer
    .image-observer-container
      .image-observer-content
        .image-observer-close.icon-cancel(ng-click="close()")
        img(ng-src="{{src}}")