.box
  .box-head
    avatar.avatar-thumbnail.user-avatar(hash="{{user.emailHash}}")
    .base-info
      .username {{user.username}}&nbsp
      .user-joindate 加入于 {{user.joinDate | date:'yy年MM月dd日' }}
  .box-body
    .info-container
      .info-row
        i.icon-newspaper
        .info-content {{user.detail.website || '空'}}
      .info-row
        i.icon-github
        .info-content {{user.detail.github || '空'}}
      .info-row
        i.icon-sina-weibo
        .info-content {{user.detail.weibo || '空'}}

  .box-foot.clearfix
    a.pull-right.cancel(href="javascript:;", ng-click="back()") 返回