@import '../variables';

userport {
  .avatar-container {
    float: left;
  }
  .user-control {
    font-size: 15px;
    padding: 5px 0 0 5px;
    display: inline-block;
    overflow: hidden;
    .icon-item {
      cursor: pointer;
      margin-bottom: 5px;
      transition: .5s transform ease;
    }
    .icon-item:nth-child(1) {
      transform: translateX(-25px);
    }
    .icon-item:nth-child(2) {
      transform: translateX(-45px);
    }
  }
  .outside {
    .icon-item {
      transform: translateX(0) !important;
    }
  }
}