@import '../variables';

userport {
  .avatar-container {
    float: left;
  }
  .user-side {
    @include side-font;
  }
  .user-info {
    padding: 0 5px;
  }
  .user-side-sp {
    border-top: 2px solid rgba(255, 255, 255, 0.15);
  }
  .user-side-row {
    padding: 10px;
  }

  .user-control-item {
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
  }
  i {
    position: absolute;
    left: 2px;
    top: 3px;
  }
  .control-item-name {
    margin-left: 22px;
  }
  
}