

.clearfix(ng-switch="self.logging")
  div(ng-switch-when="false", ng-switch="state")
    div(ng-switch-when="")
      button.btn.btn-primary(type="button", ng-click="changeState('login')") 登录
      |  
      button.btn.btn-success(type="button", ng-click="changeState('register')") 注册
    .bounce-box(ng-switch-when="login")
      .box-head
        h3 欢迎回来
      .box-body
        .text-danger(ng-if="errorMessage") {{errorMessage}}
        .float-placeholder
          input(type="text", ng-model="data.username", placeholder="用户名")
        .float-placeholder
          input(type="password", ng-model="data.pw", placeholder="密码")
      .box-foot
        button.btn.btn-primary(type="button", ng-click="login()") 登录
        |  
        a(href="javascript:;", ng-click="changeState('')") 取消
  div(ng-switch-when="true")
    .user-side
      .user-side-row
        .user-name {{self.info.username}}
      .user-side-sp
      ul.user-side-row
        li.user-control-item
          a(href="/page/ground")
            i.icon-grid
            span.control-item-name 广场
        li.user-control-item
          a(href="/page/blogs")
            i.icon-quill
            span.control-item-name 博客
        li.user-control-item(call-dialog="user-setting") 
          a(href="/page/settings")
            i.icon-cog
            span.control-item-name 设置
      .user-side-sp
      .user-side-row
        .user-control-item(ng-click="logout()")
          i.icon-exit
          span.control-item-name 退出



  