@import '../variables';

userport {
  .avatar-container {
    float: left;
  }
  .user-side {
    @include side-font;
  }
  .user-info {
    padding: 0 5px;
  }
  .user-side-sp {
    border-top: 2px solid rgba(255, 255, 255, 0.15);
  }
  .user-side-row {
    padding: 10px;
    list-style: none;
    margin: 0;
  }

  .user-control-item {
    position: relative;
    margin-bottom: 5px;
    a {
      @include side-font;
    }
  }
  i {
    position: absolute;
    left: 2px;
    top: 3px;
  }
  .control-item-name {
    margin-left: 22px;
    cursor: pointer;
  }

  .icon-grid {
    font-size: 28px;
    margin-top: -5px;
    margin-left: -6px;
  }
  .text-danger {
    color: $danger-color;
  }
}

settings {
  .avatar-side {
    float: left;
  }
  .main-side {
    margin-left: 100px;
  }

  .input-row {
    width: 550px;
    margin-bottom: 15px;
    label {
      float: left;
      text-align: right;
      width: 80px;
      padding-top: 7px;
      cursor: pointer;
    }
    .control {
      margin-left: 100px;
    }
  }
}