@import '../variables';
loading-ball {
  position: fixed;
  top: 10px;
  right: 10px;
  .ball, .ball-inner {
    border: 2px solid rgba(255,255,255,0.9);
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    animation: spin 1s infinite linear;
    transform: translate3d(0,0,0);
  }

  .ball-inner {
    width: 10px;
    height: 10px;
    margin-top: -15px;
    animation: spinoff .7s infinite linear;
  }
 
}

@keyframes spin {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg);}
}
@keyframes spinoff {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(-360deg); }
}