!!!
html(ng-app="debug")
  head
    title debug
    meta(charset="utf-8")
    link(rel="stylesheet", href="http://cdn.staticfile.org/twitter-bootstrap/3.0.0-rc2/css/bootstrap.css")
    style
      table td, table th  {    
        min-width: 150px;
        word-wrap: break-word;
      }
  body
    div.container(ng-controller="Main")
    
      label.pull-right.checkbox
        input(type="checkbox", ng-model="showId")
        |show_id 
      div(ng-repeat="item in dbData") 
        h4 {{item.collection}}
        table.table.table-bordered.table-striped.table-hover
          tr
            th(ng-repeat="th in item.data.keys") {{th}}
          tr(ng-repeat="row in item.data.items")
            td(ng-repeat="v in row track by $index") {{v}}


    script(src="/javascripts/lib/angular.js")
    script(src="http://cdn.staticfile.org/underscore.js/1.5.2/underscore-min.js")
    script
      angular.module('debug', [])
        .filter('shield', function(){
          return function(input){
            return input.map(function(item){
              return _.omit(item, ['__v', '_id']);
            });
          }
        })
        .controller('Main', function($scope, $http, $filter, $q){
          var getData = (function(){
            var data;
            return function(){
              if(data){
                return data;
              } else {
                var d = $q.defer();
                $http.get('/db').then(function(res){
                  data = res.data;
                  d.resolve(res.data);
                });
                return d.promise;
              }
            }
          })();


          function handleData(data){
            return data.map(function(item){
                var data = item.data;
                if(!$scope.showId){
                  data = $filter('shield')(item.data);
                }
                return {
                  collection: item.collection,
                  data: {
                    keys: _.keys(data[0]),
                    items: data.map(function(i){
                      return _.values(i);
                    })
                  }
                }
            });
          }

          function render(){
            var d = $q.defer();
            d.promise.then(getData)
            .then(handleData)
            .then(function(data){
              $scope.dbData = data;
            });
            d.resolve();
          }


          $scope.$watch('showId', function(){
            render();
          });
        });